In [1]:
# lets import the Library
import pandas as pd

In [2]:
# lets read the dataset
data = pd.read_csv('data.csv')

In [3]:
# lets check the head of the dataset
data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

## Q1. Does Older Employees getting more Promotion than Younger Employees?

## Q2. What is the Probability to get Promoted, If an employeed has won an award?

## Q3. What is the Average Training Score of those Employees who got Promotion?

## Q4. What is the Impact of Gender in Promotions?

## Q5. What is the Probability of Freshers getting Promoted?